@{
    Page.Title = "Edit Part";
    Layout = "~/_Layout.cshtml";
    
    var partId = "";
    var partName = "";
    var partNo = "";
    bool isPart = false;
    Repository.Part tempPart;
    
    if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) 
    {
        partId = Request.QueryString["ID"];
        tempPart = Repository.getPart(Convert.ToInt16(partId));
        if (tempPart != null)
        {
            partName = tempPart.PartName;
            partNo = tempPart.PartNo;
            isPart = true;
        }
        else
        {
            Validation.AddFormError("Goddamnit. Part is lost.");
        }
        
        //Post checks
        if(IsPost && Request.Form["submitPartName"] != null)
        {
            Validation.RequireField("partName", "You must enter a part name");
            Validation.Add("partName",
                Validator.StringLength(
                maxLength: 400,
                minLength: 1,
                errorMessage: "Part name cannot contain more than 400 characters"));
            if(Validation.IsValid())
            {
                partName = Request.Form["partName"];
                tempPart.PartName = partName;
            }
        }
        if(IsPost && Request.Form["submitPartNo"] != null)
        {
            Validation.Add("partNo", 
                Validator.StringLength(
                maxLength: 400,
                minLength: 0,
                errorMessage: "Serial number cannot contain more than 400 characters"));

            if(Validation.IsValid())
            {
                partNo = Request.Form["partNo"];
                tempPart.PartNo = partNo;
            }
        }
        else
        {
            Validation.AddFormError("Goddamnit. Part is lost.");
        }   
    }
}



<div class="col-md-12">
    <h1>Edit part</h1>

    @if(isPart)
    {
        <form method="post" class="form-group">
            <fieldset>
                @AntiForgery.GetHtml()

                <label for="partName">Name: @partName</label>
                <div class="form-inline">
                    <input type="text" id="partName" name="partName" value="@partName" class="form-control">
                    <input type="submit" id="submit" name="submitPartName" value="Edit" class="btn btn-info">
                </div>
                @Html.ValidationMessage("partName")
            </fieldset>
        </form>


        <form method="post" class="form-group">
            <fieldset>
                @AntiForgery.GetHtml()

                <label for="partNo">Part Number: @partNo</label>
                <div class="form-inline">
                    <input type="text" id="partNo" name="partNo" value="@partNo" class="form-control">
                    <input type="submit" id="submit" name="submitPartNo" value="Edit" class="btn btn-info">
                </div>
                @Html.ValidationMessage("partNo")
            </fieldset>
        </form>


        <form method="post" class="form-group">
            @AntiForgery.GetHtml()
            <fieldset>
                <div class="form-group">
                    <label for="vendorName">Vendor Name: </label>
                    <input type="text" id="vendorName" name="vendorName" class="form-control">
                    <label for="vendorLink">Link to Vendor</label>
                    <input type="text" id="vendorLink" name="vendorLink" class="form-control">
                    <label for="price">Price</label>
                    <input type="text" id="price" name="price" class="form-control">
                    <label for="purchaseLink">Link To Product</label>
                    <input type="text" id="purchaseLink" name="purchaseLink" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" name="submitVendor" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"> Add</span>
                    </button>
                </div>
            </fieldset>
        </form>
    }
    else
    {
        @Html.ValidationSummary()
    }
</div>