<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link rel="icon" href="favicon.ico">    
        <link href="~/css/bootstrap.css" rel="stylesheet">
        <link href="~/css/bootstrap-theme.css" rel="stylesheet">
	    <link href="~/css/mainstyle.css" rel="stylesheet"/>
    </head>
    
    <body>
        <div id="header">
            @if(Page.Title != null)
            {
                <h1>@Page.Title</h1>
            }
            @if(Page.Description != null)
            {
                <h4>@Page.Description</h4>
            }
            This is the header.
        </div>
        <div id="body">
            @RenderBody()
            This is the body.
        </div>
        <div id ="footer">
            this is the footer. <br />
            &copy; Cyberdyne @DateTime.Now.Year    
        </div>   
    </body>
</html>
