@{
    Page.Title= "About";
    Layout = "~/_Layout.cshtml";
    var db = Database.Open(App.DataBase);
    List<string> textElements = new List<string> {Repository.getTextElement(2), Repository.getTextElement(3), Repository.getTextElement(4)};
    int id = Convert.ToInt16(Request.QueryString["edit"]);
    var elementText = Repository.getTextElement(id);
    if(IsPost && Request.Form["submit"] != null)
    {
        elementText = Request.Form["elementText"];
        db.Execute("UPDATE TextElements SET ElementText= @0 WHERE ElementID = @1", elementText, id);
        Response.Redirect("~/About");
    }

    if(IsPost && Request.Form["editItem2"] != null)
    {
        Response.Redirect("~/About?edit=2"); 
    }

    if(IsPost && Request.Form["editItem3"] != null)
    {
        Response.Redirect("~/About?edit=3"); 
    }

    if(IsPost && Request.Form["editItem4"] != null)
    {
        Response.Redirect("~/About?edit=4"); 
    }
}

<div class="col-md-12">
    <div class="col-md-6">
       <div class="featured_text">
           <h2 class="box-title">About Me</h2>
            @if(Request.QueryString["edit"] == "2" && WebSecurity.IsAuthenticated)
            {
                <form id="aboutform" method="post">
                    <fieldset>
                        <textarea id="elemntText" name="elementText" class="form-control" rows="10" >@elementText</textarea> <br />
                        <button type="submit" name="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </button> 
                    </fieldset>
                </form>
            }
            else
            {
                <p> @Html.Raw(textElements[0].Replace("\n","<br />"))</p>
                if(WebSecurity.IsAuthenticated)
                {
                    <form method="post" class="content-padding">
                        <button type="submit" name="editItem2" class="btn btn-warning robotBtn">
                            <span class="glyphicon glyphicon-wrench"></span> Edit this text            
                        </button> 
                    </form>
                }
            }
      </div>
    </div>
    <div class="col-md-6">
       <div class="featured_text">
           <h2 class="box-title">About Foppele Inc.</h2>
            @if(Request.QueryString["edit"] == "3" && WebSecurity.IsAuthenticated)
            {
                <form id="aboutform" method="post">
                    <fieldset>
                        <textarea id="elementText" name="elementText" class="form-control" rows="10" >@elementText</textarea> <br />
                        <button type="submit" name="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </button> 
                    </fieldset>
                </form>
            }
            else
            {
               <p> @Html.Raw(textElements[1].Replace("\n","<br />"))</p>
                if(WebSecurity.IsAuthenticated)
                {
                    <form method="post" class="content-padding">
                        <button type="submit" name="editItem3" class="btn btn-warning robotBtn">
                            <span class="glyphicon glyphicon-wrench"></span> Edit this text            
                        </button> 
                    </form>
                }
            }
        </div>
    </div>
        <div class="col-md-6"> 
            <div class="featured_text">
           <h2 class="box-title">Contact</h2>
           @if(Request.QueryString["edit"] == "4" && WebSecurity.IsAuthenticated)
            {
                <form id="aboutform" method="post">
                    <fieldset>
                        <textarea id="elementText" name="elementText" class="form-control" rows="10" >@elementText</textarea> <br />
                        <button type="submit" name="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Save
                        </button> 
                    </fieldset>
                </form>
            }
            else
            {
                <p> @Html.Raw(textElements[2].Replace("\n","<br />"))</p>
                if(WebSecurity.IsAuthenticated)
                {
                    <form method="post" class="content-padding">
                        <button type="submit" name="editItem4" class="btn btn-warning robotBtn">
                            <span class="glyphicon glyphicon-wrench"></span> Edit this text            
                        </button> 
                    </form>
                }
            }
      </div>
    </div>
</div>