@{
    Page.Title= "Home";
    Layout = "~/_Layout.cshtml";

    var db = Database.Open(App.DataBase);
    List<Repository.Robot> robots = Repository.getLastRobots();
    var intro = Repository.getTextElement(1);
    if(IsPost && Request.Form["intro"] != null)
    {
        intro = Request.Form["intro"];
        db.Execute("UPDATE TextElements SET ElementText= @0 WHERE ElementID = 1", intro);
        Response.Redirect("~/Default");
    }
    db.Close();

        if(IsPost && Request.Form["editItem"] != null)
    {
        Response.Redirect("~/Default?edit=true"); 
    }
}
<div class="col-md-12">
    <div class="featured_text">
        <h2 class="box-title">Introduction</h2>
        @if(Request.QueryString["edit"] == "true")
        {
            <form id="homepageform" method="post">
                <fieldset>
                    <textarea id="intro" name="intro" class="form-control" rows="10" >@intro</textarea> <br />           
                    <button type="submit" name="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button> 
                </fieldset>
            </form>
        }
        else 
        {
            <p> @Html.Raw(intro.Replace("\n","<br />"))</p>
            if(WebSecurity.IsAuthenticated)
            {
                <form method="post" class="content-padding">
                    <button type="submit" name="editItem" class="btn btn-warning robotBtn">
                        <span class="glyphicon glyphicon-wrench"></span> Edit this text            
                    </button> 
                </form>
            }
        }
    </div>
</div>

@if (robots.Count() != 0){
<div class="col-md-12" id="latest">
    <h2 class="box-title">Latest Additions</h2>
    @foreach (Repository.Robot robot in robots)
    {
    <div class="col-md-6">
        <a href="/Robot?Id=@robot.RobotId" id="linkIgnore">
            <div class="gallery homeGallery" style="background-image: url(@App.Thumbnail@robot.CoverImage?size=large)">
                <h2>@robot.RobotName</h2>
            </div>
        </a>
        <p>@Html.Raw(robot.RobotText.Replace("\n","<br />"))</p>
    </div>
    }
</div>
}