@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Gallery";

    int rows = 0;
    List<Repository.Robot> robots = Repository.getAllRobots();
    Repository.Robot favRobot = Repository.getFavRobot();
    if(robots.Count > 0)
    {
        rows = robots.Count / 4;
        if(robots.Count % 4 > 0) 
        {
            rows++;
        }
    }
    int count = robots.Count - 1;
    
}
@foreach(Repository.Robot robot in robots)
{
    if(robot.RobotId == favRobot.RobotId)
    {
            <div class="col-md-6">
                <a href="~/Robot?Id=@robot.RobotId">
                    <div class="gallery featured_img">
                        <img class="img-responsive" src="@robot.CoverImage?size=large" alt="photo" />
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="featured_text">
                    <h2 class="box-title">@robot.RobotName</h2>
                    <p>
                    @{string text = Convert.ToString(Html.Raw(robot.RobotText.Replace("\n","<br />"))); int rij = 0; bool linkExists = false;}
                    @for(int x = 0;(x < text.Length) && (rij <= 12); x++ )
                    {                       
                        if (x < 500 && rij < 12) {
                            if(text[x] == '<' && text[x+1] == 'b' && text[x+2] == 'r' && text[x+4] == '/' && text[x+5] == '>')
                            {
                                <br />;
                                x += 5;
                                rij++;
                            }
                            else 
                            {
                                @text[x];
                            }
                        }

                        else if (x >= 500 && text[x] != ' ')
                        {
                            @text[x];
                        }

                        else if ((x >= 500 || rij == 12 ) && !linkExists)
                        {                          
                            <a href="~/Robot?Id=@robot.RobotId"> Read More...</a>
                            linkExists = true;
                            break;
                        }
                    }
                   </p>
                </div>
            </div> 
    }    
}

@for(int i = 0; i < rows; i++)
{
    <div class="col-md-12">
    @for(int j = 0; j < 4; j++)
    {
        if(count >= 0)
        {
            if(robots[count].RobotId == favRobot.RobotId){j--;}
            else
            {
            <div class="col-md-3">
                <a href="~/Robot?Id=@robots[count].RobotId"><div class="gallery" style="background-image: url(@robots[count].CoverImage?size=medium)">
                    @*<img src="@robots[count].CoverImage" alt="photo" width="auto" height="20%"/> *@
                    <h2 class="auto"> <span class="glyphicon glyphicon-align-left non-feat-glyph"></span>@robots[count].RobotName</h2>
                </div></a>
            </div>
            }
        }
         count--;
    }    
    </div>
}
