@{
    Layout = "~/_Layout.cshtml";

    var partId = Request.QueryString["Id"];
    if(!partId.IsInt())
    {
        partId = "0";
    }
    Repository.Part localPart = Repository.getPart(Convert.ToInt32(partId));
    if(localPart != null)
    {
        Page.Title = "Part: " + localPart.PartName;
    }
    else
    {
        Page.Title = "Part not found";
    }
}
<div class="container">
<div class="col-md-12">
    @if(localPart != null)
    {
       <div class="row">
           <div class="col-md-12">
                <h2 class="robot-title">@localPart.PartName</h2>
           </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="box-title margin-btw">Part No: @if(localPart.PartNo != null){@localPart.PartNo}else{<text>Not available</text>}</h2>
                <a href="@App.ViewFull@localPart.CoverPhoto" target="_blank">
                    <img class="img-responsive" src="@App.Thumbnail@localPart.CoverPhoto?size=large" alt="mainPhoto"/>
                </a>
            </div>
            <div class="col-md-6">
                <h2 class="box-title">Part No: @if(localPart.PartNo != null){@localPart.PartNo}else{<text>Not available</text>}</h2>
            </div>
        </div>   
        <br>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">Vendors</div>
                <table class="table">
                    <thead>
                        <tr>
                            <td><strong>Vendor</strong></td>
                            <td><strong>Price</strong></td>
                            <td><strong>Buy</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Repository.Vendor vendor in localPart.getVendors())
                        {
                            <tr>
                                <td>
                                    @if(!vendor.Link.IsEmpty())
                                    {
                                        <a href="@vendor.Link" class="btn btn-link">@vendor.Name</a>
                                    }
                                    else
                                    {
                                        @vendor.Name
                                    }
                                </td>
                                <td>€@vendor.Price</td>
                                <td>
                                    @if(!vendor.PurchaseLink.IsEmpty())
                                    {
                                        <a href="@vendor.PurchaseLink" class="btn btn-link">Buy Here</a>
                                    }
                                    else
                                    {
                                        <text>No link available</text>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <h1>There is no part here</h1>   
    }
</div>
</div>
