@{
    Layout = "~/_Layout.cshtml";

    var db = Database.Open(App.DataBase);

    var robotId = "";
    var robotName = "";
    int mainPhoto = 1;
    var robotText = "";
    List<int> photos = new List<int>();
    List<string[]> codeLinks = new List<string[]>();
    List<string[]> codeSnippets = new List<string[]>();
    List<string[]> threeDLinks = new List<string[]>();
    List<string[]> videoLinks = new List<string[]>();
    List<Repository.Part> parts = new List<Repository.Part>();

    if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) 
    {
        robotId = Request.QueryString["ID"];

        Repository.Robot tempRobot = Repository.getRobot(Convert.ToInt16(robotId));
        if (tempRobot != null)
        {
            robotName = tempRobot.RobotName;
            mainPhoto = tempRobot.CoverImage;
            robotText = tempRobot.RobotText;
            photos = tempRobot.getPhotos();
            codeLinks = tempRobot.getCodeLinks();
            codeSnippets = tempRobot.getCodeSnippets();
            threeDLinks = tempRobot.getThreeDLinks();
            videoLinks = tempRobot.getVideoLinks();
            parts = tempRobot.getParts();
        }
        else
        {
            Validation.AddFormError("BEEP BOOP. Robot is lost.");
        }
    }
    
    else
    {
        Validation.AddFormError("BEEP BOOP. Robot is lost.");
    }
    Page.Title= robotName;

    if(IsPost && Request.Form["editItem"] != null)
    {
        string ItemId = @Request.QueryString["Id"];
        db.Close();
        Response.Redirect("~/Admin/Tools/EditRobot?Id=" + ItemId); 
    }
    
    if(IsPost && Request.Form["removeItem"] != null)
    {
        string removeItemId = @Request.QueryString["Id"];
        Response.Redirect("~/Admin/Tools/RemoveRobot?Id=" + removeItemId);
    }
}

@if (!robotName.IsEmpty())
{
    <div class="col-md-12">
        <div class="col-md-12">
            <h2 class="robot-title">@robotName</h2>  
        </div>        
        <div class="col-md-6">
            <a class="gallery robotimg" href="@App.ViewFull@mainPhoto" target="_blank">
                <div class="gradient"></div>
                <img class="img-responsive" src="@App.Thumbnail@mainPhoto?size=large" alt="mainPhoto"/>
            </a>
            @if (photos.Count() != 0)
            {
                int count = 0;  
                <div class="box-padding">
                    <h2 class="box-title">Photos</h2>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">                                
                        <ol class="carousel-indicators">
                            @foreach (int photo in photos)
                            {
                                if(count==0) 
                                {
                                    <li data-target="#myCarousel" data-slide-to="@count" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#myCarousel" data-slide-to="@count"></li>
                                }
                                count++;
                            }
                            @{count = 0;}
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            @foreach(int photo in photos)
                            {
                                if(count==0)
                                {
                                    <div class="item active">
                                        <div style="overflow:hidden">
                                            <img src="@App.Thumbnail@photo?size=medium" alt="photo" class="img-responsive" />
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <div style="overflow:hidden">
                                            <img src="@App.Thumbnail@photo?size=medium" alt="photo" class="img-responsive" />
                                        </div>
                                    </div>
                                }
                                count++;
                            }
                            <button class="btn btn-primary toggleFullscreen" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-fullscreen"></span></button>
                                        
                            
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>   
                </div>            
            }
        </div>
        <div class="col-md-6">
            <div class="featured_text">
                <h2 class="box-title">Description</h2>
                <p>@Html.Raw(robotText.Replace("\n","<br />"))</p>

                @if(@WebSecurity.IsAuthenticated)
                {    
                    <form method="post" class="content-padding">
                        <button type="submit" name="editItem" class="btn btn-warning robotBtn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit this robot            
                        </button>            
                
                        <button type="submit" name="removeItem" class="btn btn-danger robotBtn">
                            <span class="glyphicon glyphicon-remove"></span> Delete this robot 
                        </button>    
                    </form>
                }
            </div>
        </div>
        </div>
    
    if (codeSnippets.Count() != 0 || videoLinks.Count() != 0 || threeDLinks.Count() != 0 || codeLinks.Count() != 0) 
    {
        <div class="col-md-12">
            <div class="row">
                @if (codeSnippets.Count() != 0)
                {
                    <div class="col-md-6">
                        <div class="box-padding">
                            <h2 class="box-title">Code Snippets</h2>
                            @foreach (string[] codeSnippet in codeSnippets)
                            {
                                <div class="content-padding codeSnippet">
                                    <p>@Html.Raw(codeSnippet[1].Replace("\n","<br />"))</p>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (videoLinks.Count() != 0)
                {
            
                    <div class="col-md-6">
                        <div class="box-padding">
                            <h2 class="box-title">Videos</h2>
                            @foreach (string[] video in videoLinks)
                            {
                                <div class="content-padding">
                                    <div class="h_iframe">
                                        <iframe height="2" width="2" src="@video[1]"></iframe>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (threeDLinks.Count() != 0)
                {
                    <div class="col-md-6">
                        <div class="box-padding">
                            <h2 class="box-title">3D view</h2>
                            @foreach (string[] threeDLink in threeDLinks)
                            {
                                <div class="content-padding">
                                    <iframe width="420" height="345"
                                    src="@threeDLink[1]">
                                    </iframe>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (codeLinks.Count() != 0)
                {
                    <div class="col-md-6">
                        <div class="box-padding">
                            <h2 class="box-title">Web links</h2>  
                            @foreach (string[] codeLink in codeLinks)
                            {
                                <div class="content-padding">
                                    <A HREF="@codeLink[1]">@codeLink[1]</A>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>  
    }
    if(parts.Count > 0)
    {
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Parts</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td><strong>Part Name</strong></td>
                            <td><strong>Quantity</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Repository.Part part in parts)
                        {
                            <tr onclick="document.location = '/Part?Id=@part.PartId&RobotId=@robotId'">
                                <td>@part.PartName</td>
                                <td>@part.getQuantity(Convert.ToInt32(robotId))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
        
else 
{
    <div class="col-md-12">
        <h2>@Html.ValidationSummary()</h2>
    </div>
}


          <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
             <div class="modal-dialog">
                 <!-- Modal content-->
                 <div id="modalCarousel" class="carousel slide" data-ride="carousel">
                            @{var counter = 0;}
                        <ol class="carousel-indicators">
                            @foreach (int photo in photos)
                            {
                                if(counter==0) 
                                {
                                    <li data-target="#modalCarousel" data-slide-to="@counter" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#modalCarousel" data-slide-to="@counter"></li>
                                }
                                counter++;
                            }
                            @{counter = 0;}
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            @foreach(int photo in photos)
                            {
                                if(counter==0)
                                {
                                    <div class="item active">
                                        <img src="@App.ViewFull@photo" alt="photo" class="img-responsive" />
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img src="@App.ViewFull@photo" alt="photo" class="img-responsive" />
                                    </div>
                                }
                                counter++;
                            }
                            <button class="btn btn-danger toggleFullscreen" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <a class="left carousel-control" href="#modalCarousel" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#modalCarousel" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>  
                </div>
          </div>