@{
    Layout = "~/_Layout.cshtml";

    var robotId = "";
    var robotName = "";
    var mainPhoto = "";
    var robotText = "";
    List<string> photos = new List<string>();
    List<string> codeLinks = new List<string>();
    List<string> codeSnippets = new List<string>();
    List<string> threeDLinks = new List<string>();
    List<string> videoLinks = new List<string>();

    if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) {
        robotId = Request.QueryString["ID"];

        Repository.Robot tempRobot = Repository.getRobot(Convert.ToInt16(robotId));
        if (tempRobot != null)
        {
            robotName = tempRobot.RobotName;
            mainPhoto = tempRobot.CoverImage;
            robotText = tempRobot.RobotText;
            photos = tempRobot.getPhotos();
            codeLinks = tempRobot.getCodeLinks();
            codeSnippets = tempRobot.getCodeSnippets();
            //threeDLinks = tempRobot.get3DLinks();
            videoLinks = tempRobot.getVideoLinks();
        }
        else
        {
            Validation.AddFormError("BEEP BOOP. Robot is lost.");
        }
    }
    else{
        Validation.AddFormError("BEEP BOOP. Robot is lost.");
    }
    Page.Title= robotName;
}

@if (!robotName.IsEmpty())
{
    <div class="col-md-4">
        <img src="@mainPhoto" alt="photo" width="250px" height="250px" />
    </div>
    <div class="col-md-8">
        <h1>This is a @robotName</h1>
        <p>@robotText</p>
    </div>
    if (photos.Count() != 0)
    {
        <div class="col-md-4">
            @foreach (string photo in photos)
            {
                <img src="@photo" alt="photo" width="250px" height="250px" />
            }
        </div>
    }
    if (codeSnippets.Count() != 0)
    {
        <div class="col-md-8">
            @foreach (string codeSnippet in codeSnippets)
            {
                @codeSnippet
            }
        </div>
    }
    if (codeLinks.Count() != 0)
    {
        <div class="col-md-4">
            @foreach (string codeLink in codeLinks)
            {
                <A HREF="http://@codeLink">@codeLink</A>
            }
        </div>
    }
}
else {<h2>@Html.ValidationSummary()</h2>}
<p><a href="~/Default">Return</a></p>

