@{
    Layout = "~/_Layout.cshtml";

    var db = Database.Open("basicData");

    var robotId = "";
    var robotName = "";
    var mainPhoto = "";
    var robotText = "";
    List<string> photos = new List<string>();
    List<string[]> codeLinks = new List<string[]>();
    List<string[]> codeSnippets = new List<string[]>();
    List<string[]> threeDLinks = new List<string[]>();
    List<string[]> videoLinks = new List<string[]>();

    if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) 
    {
        robotId = Request.QueryString["ID"];

        Repository.Robot tempRobot = Repository.getRobot(Convert.ToInt16(robotId));
        if (tempRobot != null)
        {
            robotName = tempRobot.RobotName;
            mainPhoto = tempRobot.CoverImage;
            robotText = tempRobot.RobotText;
            photos = tempRobot.getPhotos();
            codeLinks = tempRobot.getCodeLinks();
            codeSnippets = tempRobot.getCodeSnippets();
            threeDLinks = tempRobot.getThreeDLinks();
            videoLinks = tempRobot.getVideoLinks();
        }
        else
        {
            Validation.AddFormError("BEEP BOOP. Robot is lost.");
        }
    }
    
    else
    {
        Validation.AddFormError("BEEP BOOP. Robot is lost.");
    }
    Page.Title= robotName;

    if(IsPost && Request.Form["editItem"] != null)
    {
        string ItemId = @Request.QueryString["Id"];
        db.Close();
        Response.Redirect("~/Admin/Tools/EditRobot?Id=" + ItemId); 
    }
    
    if(IsPost && Request.Form["removeItem"] != null)
    {
        string removeItemId = @Request.QueryString["Id"];
        /// DELETE STUFF///
        //db.Execute("DELETE FROM PartReference WHERE PartId = @0", removeItemId);
        //db.Execute("DELETE FROM Vendors WHERE PartId = @0", removeItemId);
        //var photoId = db.QueryValue("SELECT PhotoId FROM Parts WHERE PartId = @0", removeItemId);
        //db.Execute("DELETE FROM Photos WHERE PhotoId = @0", photoId);
        //db.Execute("DELETE FROM Parts WHERE PartId = @0", removeItemId);
        //db.Close();
        Response.Redirect("~/Admin/Tools/RemoveRobot?Id=" + removeItemId);
    }
}

@if (!robotName.IsEmpty())
{
    <div class="col-md-12">          
        
        <div class="col-md-4">
            <div>
                <img src="@mainPhoto" alt="photo" id="mainphoto" class="img-responsive" />
            </div>
        </div>
        <div class="col-md-8">
            <h1>@robotName</h1>
                <p>@Html.Raw(robotText.Replace("\n","<br />"))</p>

            @if(@WebSecurity.IsAuthenticated)
            {    
            <form method="post">
                <button type="submit" name="editItem" class="btn btn-warning robotBtn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit this robot            
                </button>            
                
                <button type="submit" name="removeItem" class="btn btn-danger robotBtn">
                        <span class="glyphicon glyphicon-remove"></span> Delete this robot 
                </button>    
           </form>
            }

        </div>
    </div>
    if (photos.Count() != 0 || codeSnippets.Count() != 0 || videoLinks.Count() != 0 || threeDLinks.Count() != 0 || codeLinks.Count() != 0) 
    {
    <div class="col-md-12">
        @if (photos.Count() != 0)
        {
            int count = 0;           
            <div class="col-md-4">
                <h1>Photos</h1>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @foreach (string photo in photos)
                                {
                                    if(count==0) 
                                    {
                                        <li data-target="#myCarousel" data-slide-to="@count" class="active"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#myCarousel" data-slide-to="@count"></li>
                                    }
                                    count++;
                                }
                        @{count = 0;}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        @foreach(string photo in photos)
                        {
                            if(count==0)
                            {
                                <div class="item active">
                                    <img src="@photo"/>
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                   <img src="@photo" />
                                </div>
                            }
                            count++;
                        }
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>                
        }
        @if (codeSnippets.Count() != 0)
        {
            <div class="col-md-8">
                <h1>Code Snippets</h1>
                @foreach (string[] codeSnippet in codeSnippets)
                {
                    <div>
                        @codeSnippet[1]
                    </div>
                }
            </div>
        }
        @if (videoLinks.Count() != 0)
        {
            <div class="col-md-4">
                <h1>Videos</h1>
                @foreach (string[] video in videoLinks)
                {
                    <div>
                        <iframe width="420" height="345"
                        src="@video[1]">
                        </iframe>
                    </div>
                }
            </div>
        }
        @if (threeDLinks.Count() != 0)
        {
            <div class="col-md-4">
                <h1>3D view</h1>
                @foreach (string[] threeDLink in threeDLinks)
                {
                    <div>
                        <iframe width="420" height="345"
                        src="@threeDLink[1]">
                        </iframe>
                    </div>
                }
            </div>
        }
        @if (codeLinks.Count() != 0)
        {
            <div class="col-md-4">
                <h1>Links</h1>
                @foreach (string[] codeLink in codeLinks)
                {
                    <div>
                        <A HREF="@codeLink[1]">@codeLink[1]</A>
                    </div>
                }
            </div>
        }
    </div>   
    }
}
else 
{
    <div class="col-md-12">
        <h2>@Html.ValidationSummary()</h2>
    </div>
}

