@{
    Layout = "~/_Layout.cshtml";

    var robotId = "";
    var robotName = "";
    var mainPhoto = "";
    var robotText = "";
    List<string> photos = new List<string>();
    List<string> codeLinks = new List<string>();
    List<string> codeSnippets = new List<string>();
    List<string> threeDLinks = new List<string>();
    List<string> videoLinks = new List<string>();

    if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) {
        robotId = Request.QueryString["ID"];

        Repository.Robot tempRobot = Repository.getRobot(Convert.ToInt16(robotId));
        if (tempRobot != null)
        {
            robotName = tempRobot.RobotName;
            mainPhoto = tempRobot.CoverImage;
            robotText = tempRobot.RobotText;
            photos = tempRobot.getPhotos();
            codeLinks = tempRobot.getCodeLinks();
            codeSnippets = tempRobot.getCodeSnippets();
            //threeDLinks = tempRobot.get3DLinks();
            videoLinks = tempRobot.getVideoLinks();
        }
        else
        {
            Validation.AddFormError("BEEP BOOP. Robot is lost.");
        }
    }
    else{
        Validation.AddFormError("BEEP BOOP. Robot is lost.");
    }
    Page.Title= robotName;
}

@if (!robotName.IsEmpty())
{
    <div class="col-md-12">
        <div class="col-md-4">
            <div>
                <img src="@mainPhoto" alt="photo" width="250px" height="250px" />
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <h1>@robotName</h1>
                <p>@robotText</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @if (photos.Count() != 0)
        {
            <div class="col-md-4">
                <h1>Photos</h1>
                @foreach (string photo in photos)
                {
                    <div>
                        <img src="@photo" alt="photo" width="250px" height="250px" />
                    </div>
                }
            </div>
        }
        @if (codeSnippets.Count() != 0)
        {
            <div class="col-md-8">
                <h1>Code Snippets</h1>
                @foreach (string codeSnippet in codeSnippets)
                {
                    <div>
                        @codeSnippet
                    </div>
                }
            </div>
        }
        @if (videoLinks.Count() != 0)
        {
            <div class="col-md-4">
                <h1>Videos</h1>
                @foreach (string video in videoLinks)
                {
                    <div>
                        <iframe width="420" height="345"
                        src="@video">
                        </iframe>
                    </div>
                }
            </div>
        }
        @if (threeDLinks.Count() != 0)
        {
            <div class="col-md-6">
                <h1>3D view</h1>
                @foreach (string threeDLink in threeDLinks)
                {
                    <div>
                        <iframe width="420" height="345"
                        src="@threeDLink">
                        </iframe>
                    </div>
                }
            </div>
        }
        @if (codeLinks.Count() != 0)
        {
            <div class="col-md-4">
                <h1>Links</h1>
                @foreach (string codeLink in codeLinks)
                {
                    <div>
                        <A HREF="http://@codeLink">@codeLink</A>
                    </div>
                }
            </div>
        }
    </div>
}
else 
{
    <div class="col-md-12">
        <h2>@Html.ValidationSummary()</h2>
    </div>
}

